.image-builder {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: rgb(251, 111, 166);
  color: #fff;
  text-align: center;
  font-size: 24px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.red {
  color: rgb(237,0,0);
}

.category-selector {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  height: 50px;
  background-color: rgb(237,0,0);
}

.category {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 16px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(237,0,0);
  color: #fff;
}

#image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 16px;
  background-color: rgb(254, 230, 240);
}

.image-selector {
  width: 72px;
  height: 80px;
}

#canvas-container {
  position: relative;
  height: calc(100% - 90px - 50px - 16px - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  height: 400px;
  background-color: rgb(255, 190, 0);
  width: 100%;
}

.image-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
