<div class="image-builder">
  <div class="title">
    Ten una cita contigo <br>
    misma, ¡y conviertete <br>
    <span class="red">tu vulva en arte!</span>
  </div>
  <div id="canvas"></div>
  <div class="category-selector">
    <div class="category">Vagina</div>
    <div class="category">Labios</div>
    <div class="category">Clitoris</div>
    <div class="category">Vello Pubico</div>
    <div class="category">Accesorios</div>
    <div class="category">Color de piel</div>
  </div>
  <div id="image-grid"></div>
</div>
