<div class="main-container">
  <div class="image-builder">
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        format="png"
        [imageBase64]="imageBase64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        id="image-cropper"
    ></image-cropper>
    <div id="canvas" #canvas>
      <button id="reset-button" (click)="reset()">
        <img class="icono" src="assets/iconos_builder/iconos/bote_basura.png">
      </button>
      <button id="return-button" (click)="returnImage()">
        <img class="icono" src="assets/iconos_builder/iconos/rehacer.png">
      </button>
      <button id="save-button" class="button" (click)="saveImage()">
        Siguiente
      </button>
    </div>
    <div id="canvasContainer" #canvasContainer>
    </div>
    <div class="category-selector" id="category-selector">
      <div class="category" (click)="loadImages('vagina')">
        <img class="icono" src="assets/iconos_builder/vagina.png">
        <div class="category-text" [ngClass]="{'selected': selectedCategory === 'vagina'}">
          Vagina
        </div>
      </div>
      <div class="category" (click)="loadImages('labios')">
        <img class="icono" src="assets/iconos_builder/labios.png">
        <div class="category-text" [ngClass]="{'selected': selectedCategory === 'labios'}">
          Labios
        </div>
      </div>
      <div class="category" (click)="loadImages('clitoris')">
        <img class="icono" src="assets/iconos_builder/clitoris.png">
        <div class="category-text" [ngClass]="{'selected': selectedCategory === 'clitoris'}">
          Clitoris
        </div>
      </div>
      <div class="category" (click)="loadImages('vello_pubico')">
        <img class="icono" src="assets/iconos_builder/vello.png">
        <div class="category-text" [ngClass]="{'selected': selectedCategory === 'vello_pubico'}">
          Vello púbico
        </div>
      </div>
      <div class="category" (click)="loadImages('accesorios')">
        <img class="icono" src="assets/iconos_builder/accesorios.png">
        <div class="category-text" [ngClass]="{'selected': selectedCategory === 'accesorios'}">
          Accesorios
        </div>
      </div>
      <div class="category" (click)="loadImages('color_piel')">
        <img class="icono" src="assets/iconos_builder/tonos de piel.png">
        <div class="category-text" [ngClass]="{'selected': selectedCategory === 'color_piel'}">
          Piel
        </div>
      </div>
      <div class="category" (click)="loadImages('fondos')">
        <img class="icono" src="assets/iconos_builder/tonos de piel.png">
        <div class="category-text" [ngClass]="{'selected': selectedCategory === 'fondos'}">
          Fondos
        </div>
      </div>
    </div>
    <div id="image-grid">
      <img *ngFor="let image of images" [id]="'image-' + image.id" (click)="selectImage(image)" [src]="image.imageUrl" class="image-selector">
    </div>
    <div id="vulvatar-confirmation">
      <p class="finish-text">¿Que deseas hacer con tu Vulvávatar?</p>
      <div class="vulvatar-confirmation-button-container">
        <button id="save-button-confirmation" class="button" (click)="shareImage()">
          Compartir
        </button>
        <button id="download-button-confirmation" class="button" (click)="downloadImage()">
          Descargar
        </button>
      </div>
    </div>
  </div>
</div>
  