.main-container {
  font-family: 'Montserrat', sans-serif !important;
}

.image-builder {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icono {
  width: 30px;

}

.category-text {
  font-size: 10px;
}


.title {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: rgb(251, 111, 166);
  color: #fff;
  text-align: center;
  font-size: 19px;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

#canvas {
  height: 350px;
  /*background-color: rgb(255, 190, 0);*/
  width: 100%;
}

#canvasContainer {
  height: 350px;
  width: 100%;
  display: none
}

#image-cropper {
  display: none;
}
#image-cropper-result {
  display: none;
}

.red {
  color: rgb(237,0,0);
}

.category-selector {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  height: 50px;
  background-color: rgb(237,0,0);
}

.category {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(237,0,0);
  color: #fff;
  flex-direction: column;
}

.selected {
  background-color: rgba(0, 0, 153, 0.4);
}

#image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  padding: 16px;
  height: 36vh !important;
  overflow-y: hidden;
  overflow-x: scroll;
}

.image-selector {
  width: 72px;
  height: 80px;
  background-color: rgb(254, 230, 240);
  margin: 3px;
  cursor: pointer;
}

#canvas-container {
  position: relative;
  height: calc(100% - 90px - 50px - 16px - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#reset-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

#return-button {
  position: absolute;
  top: 60px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

#save-button {
  position: absolute;
  top: 310px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  background-color: #9933ff;
  border-radius: 5px;
  color: #fFF;
  padding: 6px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  background-color: #9933ff;
  border-radius: 5px;
  color: #fFF;
  padding: 6px;
}

.finish-text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#save-button-confirmation {
  background-color: #6c58ce;
  border-radius: 5px;
  color: #fFF;
  box-shadow: none;
  padding: 6px;
  font-size: 15px;
}

#download-button-confirmation {
  background-color: #fdaecd;
  border-radius: 5px;
  color: #fFF;
  box-shadow: none;
  padding: 6px;
  font-size: 15px;
  border: none;
}

#vulvatar-confirmation {
  display: none;
  height: 48vh;
  background-color: #ff0000;
}

.vulvatar-confirmation-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vulvatar-confirmation-button-container button {
  margin: 0 5px; /* Adjust the margin value as needed */
}
