* {
  margin: 0;
  padding: 0;
}

.gallery {
  text-align: center;
  background-color: #6c58ce;
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: -1px;
  background-image: url(/assets/VAGINA_morada.png);
  background-size: auto 58%;
  background-position: left top;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.w-100 {
  width: 100% !important;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-responsive {
  width: 100%;
}

.gallery-text {
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: normal !important;
}

.gallery-description {
  font-size: 20px;
  font-weight: bold;
}

.content {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

img.horizontal-image {
  max-width: 100%;
}

.content p {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 20px;
}

.next-content {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.select-button-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 30px;
}

.select-button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 5%;
}

.gallery-sections {
  margin-top: 30px;
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gallery-section {
  float: left;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  
  .gallery--image {
      height: clamp(160px, 52vw, 800px);

      img {
        height: 100%;
        width: 100%;
        border-radius: 4px;
    }
  }

}

.gallery-section p {
  margin-top: 10px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-media-links a {
  display: inline-block;
  margin: 0 5px;
  color: #333;
}

.vote-button {
  display: block;
  margin: 20px auto;
  padding: 6px 15px;
  font-size: 12px;
  background-color: #ff3a85;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

.drop-down-div {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #ffce45, #ff3a85);
  border-radius: 5px;
  width: 100%;
  max-width: 147px;
  display: none;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Montserrat';
  z-index: 1;
  overflow: hidden;
}

.dropdown-menu-custom.active--drop {
  display: flex;
}

.dropdown-menu-custom > .dropdown-menu-item {
  padding: 9px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: 0.335s;
}

.dropdown-menu-custom > .dropdown-menu-item:hover {
  background: #fff;
  color: #6c58ce;
}

.dropdown-menu-custom > .dropdown-menu-item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.link--dropdown {
  display: flex !important;
  align-items: center;
  gap: 5px;
  margin-left: 0;
  font-weight: 900;
  font-family: 'Montserrat';
  font-size: 12px;
  padding: 8px 15px;
}

.link--dropdown > .dropdown--icon {
  font-weight: bold;
  font-family: 'Montserrat';
  height: 12px;
  line-height: 0;
  font-size: 24px;
  margin-top: -5px;
}

.heading-des {
  position: relative;
}

.gallery--main > .gallery-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(10px, 3vw, 50px);
}

.gallery--main > .gallery-sections > .gallery-section > .gallery--bot {
  width: 100%;
  margin: 0;
  p {
    color: #fff;
    font-weight: 700;
  }
  
  .social-media-links {
    margin-top: 5px;
    
    a {
      color: #fff;
      background: #fff;
      width: 16px;
      aspect-ratio: 1/1;
      border-radius: 50px;
      margin: 0 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      font-size: 10px !important;
      
      i {
        color: #6c58ce;
      }
    }
  }
  
  button.vote-button {
    font-size: 9px;
    font-weight: 700;
    font-family: 'Montserrat';
    padding: 5px 15px;
  }
}
