<div class="gallery">
  <header>
    <div class="logo">
      <!-- Your logo here -->
    </div>
    <div class="breadcrumb">
      <!-- Horizontal menu breadcrumb here -->
    </div>
  </header>

  <!-- Main part -->
  <main>
    <div class="content">
      <h1 class="gallery-text">GALERÍA</h1>
      <img class="img-responsive" src="/assets/logo vulvavatar.png" alt="Horizontal Image">
      <p class="gallery-description">Cada vulva es como<br>una huella digital,<br><u>única y diferente.</u></p>
    </div>
    <div class="next-content">
    	Aquí no solo podrás ver todas y cada una de los <br>
    	vulvavatars generados por nuestrxs creadorxs. <br>
    	También podrás seguir votando y compartiendo para <br>
    	ser unx de nuestrxs ganadorxs NFT's y merch
    </div>
    <div class="select-button-container">
		<button class="select-button">MÁS POPULAR</button>
	</div>
  </main>
  <div class="gallery">
  	<div class="gallery-sections">
	    <div class="gallery-section">
	      <img src="/assets/example_vulvavatar.png" alt="Example Vulvavatar">
	      <p>130 VOTOS</p>
	      <div class="social-media-links">
	        <a href="https://www.facebook.com/yourpage" target="_blank"><i class="fab fa-facebook-f"></i></a>
				  <a href="https://www.instagram.com/youraccount" target="_blank"><i class="fab fa-instagram"></i></a>
				  <a href="https://twitter.com/youraccount" target="_blank"><i class="fab fa-twitter"></i></a>
	      </div>
	      <button (click)="openPopup()" class="vote-button">VOTAR AHORA</button>
	    </div>
	    <div class="gallery-section">
	      <img src="/assets/example_vulvavatar.png" alt="Example Vulvavatar">
	      <p>130 VOTOS</p>
	      <div class="social-media-links">
	        <a href="https://www.facebook.com/yourpage" target="_blank"><i class="fab fa-facebook-f"></i></a>
				  <a href="https://www.instagram.com/youraccount" target="_blank"><i class="fab fa-instagram"></i></a>
				  <a href="https://twitter.com/youraccount" target="_blank"><i class="fab fa-twitter"></i></a>
	      </div>
	      <button (click)="openPopup()" class="vote-button">VOTAR AHORA</button>
	    </div>
		</div>
  </div>
</div>
<app-popup *ngIf="showPopup" (closePopup)="closePopup()"></app-popup>