.gallery {
  text-align: center;
  background-color: #6c58ce;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url(/assets/VAGINA_morada.png);
  background-size: auto 58%;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  /* Add styles for the logo */
}

.breadcrumb {
  /* Add styles for the breadcrumb */
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-responsive {
  width: 100%;
}

.gallery-text {
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: normal !important;
}

.gallery-description {
  font-size:20px;
  font-weight: bold;
}

.content {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

img.horizontal-image {
  max-width: 100%;
}

.content p {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 20px;
}

.next-content {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.select-button-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 30px;
}

.select-button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 5%;
}

/* Default styles for all devices */
.gallery-sections {
  margin-top: 30px;
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gallery-section {
  float: left;
  width: 45%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.gallery-section img {
  width: 100%;
  border-radius: 4px;
}

.gallery-section p {
  margin-top: 10px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-media-links a {
  display: inline-block;
  margin: 0 5px;
  color: #333;
}

.vote-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.vote-button {
  background-color: #ff3a85;
  color: #fff;
  text-transform: uppercase;
}