<div class="footer--galery bg--purple">
	<h2 class="red--text py-50">VE<span class="text--border">SIN</span>TABÚ #VIVE<span class="text--border">SIN</span>TA
	</h2>
	<div class="footer-content">
		<div class="copy-ff px-50">
			<span><img src="/assets/gallery-footer.png" alt="copy permisos"></span>
			<span class="white--text"><b>Permisos de publicided:</b> 213300201B4066, 213300201B2551, 213300201B0347,
				213300201B3746.
				Si persisten las molestias, Consulte a su Médico CH-20220503-68. Salud es belleza. Lea las instrucciones
				de uso. No de Aviso: 173300519X3298 y 173300519X1268</span>
		</div>
		<div class="footer--image">
			<img src="/assets/footer--img.png" class="w-100 block--img" alt="footer--image">
		</div>
	</div>
</div>